<!-- BEGIN  banner-->
<section class="banner">
	<div class="banner-video">
		<button class="banner-btn-play js_video-btn" type="button" name="control-video"><i class="icon-play"></i></button>
		<video class="is-video" poster="img/poster.jpg" >
				<source src="img/video.webm" type="video/webm">
				<source src="img/video.mp4" type="video/mp4">
		</video>
	</div>
	<div class="l-wrap banner-in">
		<div class="info">
			<h1 class="info-ttl entry-header">Правовое <br>сопровождение <br>малого ИТ-бизнеса</h1>
			<div class="info-txt entry-content">
				<p>Зачастую интернет-проекты, разработчики, маркетологи, дизайнеры, стартаперы и другие IT-специалисты не уделяют должного внимания правовым аспектам своей деятельности.</p>
				<p>Но <b>документы должны быть в порядке</b>, и мы в этом поможем.</p>
			</div>
			<button class="info-btn pink-btn" type="button" name="to-price">
				<i class="icon-arr"></i>
				<span>услуги и цены</span>
			</button>
		</div>
	</div>
</section>
<!-- END banner-->
