<!-- BEGIN  banner-->
<section class="banner">
	<div class="l-wrap banner-in">
		<button class="banner-btn-play js_video-popup" type="button" name="control-video"><i class="icon-play"></i></button>
		<div class="info js_info">
			<h1 class="info-ttl entry-header">Правовое <br>сопровождение <br>малого ИТ-бизнеса</h1>
			<div class="info-txt entry-content">
				<p>Зачастую интернет-проекты, разработчики, маркетологи, дизайнеры, стартаперы и другие IT-специалисты не уделяют должного внимания правовым аспектам своей деятельности.</p>
				<p>Но <b>документы должны быть в порядке</b>, и мы в этом поможем.</p>
			</div>
			<button class="info-btn pink-btn js_to-prise" type="button" name="to-price">
				<i class="icon-arr"></i>
				<span>услуги и цены</span>
			</button>
			<button class="info-btn info-btn-play pink-btn js_video-popup" type="button" name="control-video"><i class="icon-play"></i><span>смотреть видео</span></button>
		</div>
	</div>
</section>
<!-- END banner-->
