<!-- BEGIN  contacts-->
<section class="contacts" id="contacts">
	<div class="contacts-caption entry-header">
		<h3 class="contacts-ttl">запрос на услуги</h3>
	</div>
	<div class="contacts-content entry-content">
		<form id="order" class="js_contact-form" action="index.html" method="post">
			<div class="order">
				<div class="order-col">
					<input type="text" placeholder="Имя*" class="order-input">
					<input type="tel" placeholder="телефон*" class="order-input">
					<input type="email" placeholder="E-mail*" class="order-input">
					<input type="text" placeholder="сайт" class="order-input">
					<div class="order-subject">
						<button class="order-btn-theme js_btn-subject" type="button" name="subject">
							МЕНЯ ИНТЕРЕСУЕТ
							<i class="icon-arr"></i>
						</button>
						<ul class="order-list js_subject-list">
							<li class="order-service">
								<input class="order-option" id="service1" type="radio" name="service" value="">
								<label class="order-choice" for="service1"><i class="icon-list"></i> Наведение порядка в делах</label>
							</li>
							<li class="order-service">
								<input class="order-option" id="service2" type="radio" name="service" value="">
								<label class="order-choice" for="service2"><i class="icon-list"></i> Правовое сопровождение деятельности</label>
							</li>
							<li class="order-service">
								<input class="order-option" id="service3" type="radio" name="service" value="">
								<label class="order-choice" for="service3"><i class="icon-list"></i> Оптимизация договорных отношений</label>
							</li>
							<li class="order-service">
								<input class="order-option" id="service4" type="radio" name="service" value="">
								<label class="order-choice" for="service4"><i class="icon-list"></i> Разработка договоров</label>
							</li>
						</ul>
					</div>
				</div>
				<div class="order-col">
					<span class="order-txt">Дополнительная информация</span>
					<textarea placeholder="Введите текст ..." class="order-msg"></textarea>
				</div>
				<div class="order-send">
					<button  type="submit" class="order-btn pink-btn js_btn-send">Отправить</button>
				</div>
			</div>
		</form>
	</div>
</section>
<!-- END contacts-->
