<!-- BEGIN  feedbacks-->
<section class="feedbacks" id="feedbacks">
	<div class="feedbacks-caption entry-header">
		<h3 class="feedbacks-ttl">отзывы</h3>
		<div class="feedbacks-sub-ttl">
			<p>Мнение наших клиентов <b>делает мир и нас лучше :)</b></p>
		</div>
	</div>
	<div class="feedbacks-content entry-content">
		<ul class="feedbacks-list">
			<li class="feedbacks-item">
				<i class="icon-quote"></i>
				<span class="feedbacks-txt">Главная тема для меня – любовь. Мы все хотим ее, но не знаем как получить, поэтому все, что мы делаем, — это всего лишь попытки найти счастье.</span>
				<a class="feedbacks-profile" href="#" style="background-image: url(img/feedbacks/acc1.jpg)"></a>
				<a class="feedbacks-name" href="#">Алексей Фёдоров</a>
				<span class="feedbacks-scope">CEO</span>
				<i class="icon-dot"></i>
				<a class="feedbacks-company" href="#">deco.agency</a>
			</li>
			<li class="feedbacks-item">
				<i class="icon-quote"></i>
				<span class="feedbacks-txt">Главная тема для меня – любовь. Мы все хотим ее, но не знаем как получить, поэтому все, что мы делаем, — это всего лишь попытки найти счастье.</span>
				<a class="feedbacks-profile" href="#" style="background-image: url(img/feedbacks/acc2.jpg)"></a>
				<a class="feedbacks-name" href="#">Артур Оруджалиев</a>
				<span class="feedbacks-scope">CEO</span>
				<i class="icon-dot"></i>
				<a class="feedbacks-company" href="#">AIN.ua</a>
			</li>
			<li class="feedbacks-item">
				<i class="icon-video"></i>
				<a class="feedbacks-video-link js_popup-video" href="#" style="background-image: url(img/feedbacks/video.jpg)">
					<i class="icon-play-mini"></i>
				</a>
				<a class="feedbacks-name" href="#">Григорий Маленко</a>
				<span class="feedbacks-scope">CEO</span>
				<i class="icon-dot"></i>
				<a class="feedbacks-company" href="#">SERM.ua</a>
			</li>
		</ul>
		<div class="feedbacks-more">
			<button class="feedbacks-btn" type="button" name="more">
				<i class="icon-more"></i>
				<span>загрузить еще</span>
			</button>
		</div>
	</div>
</section>
<!-- END feedbacks-->
