<!-- BEGIN  footer-->
<footer class="footer">
	<div class="footer-in">
		<div class="footer-txt footer-company">pravo agency:</div>
		<div class="footer-txt footer-address">01001, Киев, ул.Костёльная 9, оф.8</div>
		<div class="footer-txt">
			<a class="footer-link" href="tel:0673241010">+380 (67) 324 10 10</a>
		</div>
		<div class="footer-txt">
			<a class="footer-link" href="mailto:hello@pravo.agency">hello@pravo.agency</a>
		</div>
		<div class="footer-txt">
			<a class="footer-soc icon-fb" target="_blank" href="#"></a>
			<a class="footer-soc icon-tw" target="_blank" href="#"></a>
			<a class="footer-soc icon-in" target="_blank" href="#"></a>
		</div>
		<div class="footer-txt">
			<span class="footer-copy">&copy; 2015, <b>Pravo agency</b></span>
		</div>
	</div>
</footer>
<!-- END footer-->
