<!-- BEGIN  header-->
<header class="header js_header">
	<div class="l-wrap header-in">
		<div class="header-logo"><a class="icon-logo" href="index.html"></a></div>
		<div class="header-menu js_menu">
			<ul class="nav" id="js_nav">
				<li class="nav-item"><a class="nav-link js_nav" href="#price">Услуги и ЦЕНЫ</a></li>
				<li class="nav-item"><a class="nav-link js_nav" href="#feedbacks">ОТЗЫВЫ</a></li>
				<li class="nav-item"><a class="nav-link js_nav" href="#contacts">КОНТАКТЫ</a></li>
			</ul>
		</div>
		<div class="header-lang js_lang">
			<input id="lang" type="checkbox" />
			<label for="lang" class="lang" >
				<span class="lang-txt lang-ua">UA</span>
				<span class="lang-txt lang-ru">RU</span>
			</label>
		</div>
		<button type="button" name="button" class="btn-nav js_nav-btn"><span></span></button>
	</div>
</header>
<!-- END header-->
