<!-- BEGIN  price-->
<section class="price" id="price">
	<div class="price-caption entry-header">
		<h3 class="price-ttl">услуги и цены</h3>
		<div class="price-sub-ttl">
			<p><b>Pravo agency</b> выполняет роль юристов-аутсорсеров, надежно прикрывая правовой тыл вашей деятельности.</p>
		</div>
	</div>
	<div class="price-content entry-content">
		<div class="l-row"><!-- комментарии это самый простой способ, чтоб убрать дефолтные отступы блоков с display: inline-block
	 --><div class="l-col">
				<a href="#" class="price-item js_service">
					<i class="price-icon icon-doc"></i>
					<h4 class="price-type">Наведение порядка<br> в делах<i class="icon-i"></i></h4>
					<span class="price-txt">Аудит документов и платежей на предмет:</span>
					<ul class="price-list">
						<li>соблюдения необходимых формальностей и процедур, </li>
						<li>наличия всех оригиналов договоров, актов,</li>
						<li>легализация зависших платежей.</li>
					</ul>
				</a>
			</div><!--
	 --><div class="l-col js_col">
				<a href="#" class="price-item js_service">
					<i class="price-icon icon-dart"></i>
					<h4 class="price-type">Оптимизация<br> договорных отношений <i class="icon-i"></i></h4>
					<ul class="price-list">
						<li>Доработка, латание дыр и улучшение условий основных типовых договоров вашей компании</li>
						<li>Оформление сотрудников на оптимальных условиях ведения деятельности и налогообложения</li>
						<li>Составление договоров, соглашений о конфиденциальности, публичных офферт</li>
					</ul>
				</a>
				<div class="modal js_modal">
					<ul class="modal-item">
						<li class="modal-type">услуга</li>
						<li class="modal-content">
							<h4>Оптимизация  договорных отношений</h4>
							<p class="modal-txt">Борьба внутри меня, и я был в самых разных ситуациях в моей жизни. <b>Таким образом, борьба, что у меня на постоянной основе, это просто пробовать и быть лучше. </b></p>
							<p class="modal-txt">Есть определенная разница между публичным человеком и обычным человеком, это как сойти с ума - для меня во всяком случае - открыть себя целиком для всего мира. </p>
						</li>
					</ul>
					<ul class="modal-item">
						<li class="modal-type">Цена</li>
						<li class="modal-content">
							<ul class="modal-list">
								<li class="modal-cell">
									<p><b>&lt; 50</b></p>
									<span class="modal-subtext">Сотрудников</span><br>
									<span class="modal-subtext">от <b class="modal-price">5000</b> <b>грн.</b></span>
								</li>
								<li class="modal-cell">
									<p><b>50-100</b></p>
									<span class="modal-subtext">Сотрудников</span><br>
									<span class="modal-subtext">от <b class="modal-price">15000</b> <b>грн.</b></span>
								</li>
								<li class="modal-cell">
									<p><b>&gt; 100</b></p>
									<span class="modal-subtext">Сотрудников</span><br>
									<span class="modal-subtext">от <b class="modal-price">25000</b> <b>грн.</b></span>
								</li>
							</ul>
							<button class="modal-btn pink-btn js_to-order" type="button" name="to-contacts">заказать</button>
						</li>
					</ul>
				</div>
			</div><!--
 --></div>
		<div class="l-row"><!--
	 --><div class="l-col">
				<a href="#" class="price-item js_service">
					<i class="price-icon icon-law"></i>
					<h4 class="price-type">Правовое сопровождение  деятельности (юрист-аутсорсер)<i class="icon-i"></i></h4>
					<ul class="price-list">
						<li>Участие в заключении договоров: минимизация рисков, усиление ваших позиций</li>
						<li>Юридическая консультация</li>
						<li>Дайджест предпринимательских ИТ-новостей с разъяснениями</li>
						<li>Представительство интересов в судах</li>
					</ul>
				</a>
			</div><!--
	 --><div class="l-col">
				<a href="#" class="price-item js_service">
					<i class="price-icon icon-court"></i>
					<h4 class="price-type">Разработка договоров<br> и другой документации<i class="icon-i"></i></h4>
					<span class="price-txt">К сожалению, конфликты бывают в любой сфере. Если дело близится к суду или уже дошло до него, мы поможем отстоять ваши права и интересы.</span>
				</a>
			</div><!--
 --></div>
	</div>
</section>
<!-- END price-->
